In [3]:
# List of topics that we will learn in this meeting:
# - List
# - Dictionary
# - Tuple
# - Loooping
# - Function

In [9]:
# List
my_list = ["Jasson",7, 11, ["Pizza","Soda"], {},(),False]
print(my_list[0])
print(my_list[1])
print(my_list[-1])

Jasson
7
False

In [63]:
# Dictionary (formula : key + value = > key: value)
my_dictionary = {"Me":"Jasson","Ni":2,True:7,8.0:["Pizza","Soda"], "Dicti":{},222:(),"Boolean":False}
print(my_dictionary["Me"])
print(my_dictionary[8.0])
print(my_dictionary[True])

Jasson
['Pizza', 'Soda']
7

In [17]:
# Salah satu method di dictionary : .keys()
my_dictionary.keys()

dict_keys(['Me', 'Ni', True, 8.0, 'Dicti', 222, 'Boolean'])

In [29]:
# Contoh method yang ada di list
newList = [3,2,4,5,6]

In [30]:
newList.append("J-Son")
print(newList)

[3, 2, 4, 5, 6, 'J-Son']

In [31]:
newList.insert(1,"HEHE")
newList

[3, 'HEHE', 2, 4, 5, 6, 'J-Son']

In [33]:
num_list= [3,1,5,2,4]
num_list.sort()
num_list

[1, 2, 3, 4, 5]

In [35]:
num_list.sort(reverse=True)
num_list

[5, 4, 3, 2, 1]

In [36]:
num_list.pop()
num_list

[5, 4, 3, 2]

In [38]:
num_list.remove(4)
num_list

[5, 3, 2]

In [39]:
num_list.remove(num_list[1])
num_list

[5, 2]

In [40]:
num_list.append(6)
num_list

[5, 2, 6]

In [44]:
# Set (Set tidak bisa dipanggil dengan spesifik seperti list)
num_set= set(num_list)
num_set

{2, 5, 6}

In [47]:
num_list = list(num_set)
num_list

[2, 5, 6]

In [52]:
# Tuple (value di dalam tuple tidak dapat diubah)
num_tuple = (1,3,2,6,2,1)
num_tuple[1]

3

In [74]:
my_dictionary = {"Me":"Jasson","Ni":2,True:7,8.0:["Pizza","Soda"], "Dicti":{},222:(),"Boolean":False}

In [75]:
my_dictionary["Hello"] = ["Jack"]

In [76]:
print(my_dictionary)

{'Me': 'Jasson', 'Ni': 2, True: 7, 8.0: ['Pizza', 'Soda'], 'Dicti': {}, 222: (), 'Boolean': False, 'Hello': ['Jack']}

In [77]:
my_dictionary["Hello"].append(17)

In [79]:
print(my_dictionary)

{'Me': 'Jasson', 'Ni': 2, True: 7, 8.0: ['Pizza', 'Soda'], 'Dicti': {}, 222: (), 'Boolean': False, 'Hello': ['Jack', 17]}

In [81]:
#Contoh ngehapus key + value in dictionary
my_dictionary.pop("Hello")

['Jack', 17]

In [82]:
print(my_dictionary)

{'Me': 'Jasson', 'Ni': 2, True: 7, 8.0: ['Pizza', 'Soda'], 'Dicti': {}, 222: (), 'Boolean': False}

In [83]:
del my_dictionary["Boolean"]

In [84]:
print(my_dictionary)

{'Me': 'Jasson', 'Ni': 2, True: 7, 8.0: ['Pizza', 'Soda'], 'Dicti': {}, 222: ()}

In [99]:
# For Loop
for i in range(12):
  print("Hellaw")

Hellaw
Hellaw
Hellaw
Hellaw
Hellaw
Hellaw
Hellaw
Hellaw
Hellaw
Hellaw
Hellaw
Hellaw

In [91]:
for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [93]:
for i in range (0,12,2):
  print(i)

0
2
4
6
8
10

In [97]:
for i in range (12,0,-2):
  print(i)

12
10
8
6
4
2

In [98]:
#While Loop

In [102]:
a = 0
while a < 17:
  print("a is still lesser than 17; a = {}".format(a))
  a+= 1

a is still lesser than 17; a = 0
a is still lesser than 17; a = 1
a is still lesser than 17; a = 2
a is still lesser than 17; a = 3
a is still lesser than 17; a = 4
a is still lesser than 17; a = 5
a is still lesser than 17; a = 6
a is still lesser than 17; a = 7
a is still lesser than 17; a = 8
a is still lesser than 17; a = 9
a is still lesser than 17; a = 10
a is still lesser than 17; a = 11
a is still lesser than 17; a = 12
a is still lesser than 17; a = 13
a is still lesser than 17; a = 14
a is still lesser than 17; a = 15
a is still lesser than 17; a = 16

In [109]:
while True:
  umur = int(input())
  if umur > 17:
    break

2
10
18

In [110]:
while True:
  umur = int(input())
  if umur == 17:
    continue
  elif umur > 17:
    print("Loop Break!")
    break
  print("text ini akan mucul jika umur dibawah 17")

2
text ini akan mucul jika umur dibawah 17
10
text ini akan mucul jika umur dibawah 17
17
20
Loop Break!

In [123]:
# for else
for i in range (0,6,1):
  print(i)
  if i ==(2):  # break jika i == 2
    break
else:
  print("print ini jika tidak ada break")

0
1
2

In [124]:
for i in range (0,6,1):
  print(i)
  if i ==(10): # break jika i == 10
    break
else:
  print("print ini jika break tidak tereksekusi")

0
1
2
3
4
5
print ini jika break tidak tereksekusi

In [128]:
# function
def maxValue(a,b):
  if a > b:
    return a
  else :
    return b

In [130]:
maxValue(12,200)

200

In [132]:
# manggil isi list menggunakan for loop
for i in my_list:
  print(i)

Jasson
7
11
['Pizza', 'Soda']
{}
()
False

In [134]:
# manggil isi dictionary menggunakan for loop
for i in my_dictionary:
  print(i)

Me
Ni
True
8.0
Dicti
222

In [135]:
# Print setiap char di string
for char in "I am the Winner" :
  print(char)

I

a
m

t
h
e

W
i
n
n
e
r

In [136]:
new_List = [1,2,3,4,5,6,7]

In [138]:
for nilai in new_List:
  if nilai == 6:
    new_List.remove(nilai)
new_List

[1, 2, 3, 4, 5, 7]

In [140]:
for i, nilai in enumerate(new_List):
  print("index: {},  nilai: {}".format(i,nilai))

index: 0,  nilai: 1
index: 1,  nilai: 2
index: 2,  nilai: 3
index: 3,  nilai: 4
index: 4,  nilai: 5
index: 5,  nilai: 7

In [145]:
coba_List = [1,2,3,4,5,6,7]
for i,nilai in enumerate(coba_List):
  if nilai == 6:
    coba_List.remove(coba_List[i])
coba_List

[1, 2, 3, 4, 5, 7]